[
  {
    "url": "https://www.facebook.com/groups/REPLACE_WITH_GROUP_ID_OR_SLUG",
    "name": "דירות להשכרה בחיפה ללא תיווך 🏡"
  },
  {
    "url": "https://www.facebook.com/groups/REPLACE_WITH_GROUP_ID_OR_SLUG",
    "name": "דירות להשכרה בחיפה"
  },
  {
    "url": "https://www.facebook.com/groups/REPLACE_WITH_GROUP_ID_OR_SLUG",
    "name": "דירות מפה לאוזן בחיפה"
  },
  {
    "url": "https://www.facebook.com/groups/REPLACE_WITH_GROUP_ID_OR_SLUG",
    "name": "דירות סטודנטים סובב טכניון"
  }
]
